/* seção pai */
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* direitos autrais */
.footer h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    /* usando rem para ficar responsivo */
    font-size: 0.8rem;
}
/* ícone do perfil */
#about img{
    width: 50px;
    height: 50px;
}
/* div about (ocupando apenas o espaço dela mesma) pq eu queria deixar do lado esquerdo */
#about{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding: 20px;
}
#about p{line-height: 150%;}

.instagram-profile > img{
    width: 100px;
    height: 30px;
}
.meu-insta img{
    width: 50px; 
    height: 50px;
}
/* um hover p aumentar de tamanho o ícone do instagram (icone padrão) */
.meu-insta img:hover{
    transform: scale(1.05);
}
/* tb deixando a div dos links para ocupar apenas o tam dela mesma */
.instagram-profile{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.links{
    display: flex;
    gap: 20px;
    padding-block: 20px;
}
/* media query pra celular/tablet */
@media (max-width: 600px){
    .footer h3{
        font-size: 0.6rem;
    }
    .instagram-profile > img{
        width: 100px;
        height: 30px;
    }
    .meu-insta img{
        width: 30px; 
        height: 30px;
    }
    .links{
        font-size: 0.8rem;
    }
    #about img{
        width: 30px;
        height: 30px;
    }
    #about{
        margin: auto;
        font-size: 0.8rem;
        /* usei width 50% pra div about ficar centralizada no celular ?? */
        width: 50%;
        text-align: center;
    }
}
