.footer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
}
.about img{
    width: 50px;
    height: 50px;
}
.about{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    padding: 20px;
}
.about p{line-height: 150%;}

.instagram-profile > img{
    width: 100px;
    height: 30px;
}
.meu-insta img{
    width: 50px; 
    height: 50px;
}
.meu-insta img:hover{
    transform: scale(1.05);
}
.instagram-profile{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.links{
    display: flex;
    gap: 20px;
    padding-block: 20px;
}

@media (max-width: 600px){
    .footer h3{
        font-size: 0.6rem;
    }
    .instagram-profile > img{
        width: 100px;
        height: 30px;
    }
    .meu-insta img{
        width: 30px; 
        height: 30px;
    }
    .links{
        font-size: 0.8rem;
    }
    .about img{
        width: 30px;
        height: 30px;
    }
    .about{
        margin: auto;
        font-size: 0.8rem;
        width: 50%;
        text-align: center;
    }
}
