.navbar{
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    padding-top: 15px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
a{
    color: white;
}