.section-cards{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0px;
}
.section-cards h1{
    width: fit-content;
    color: white;   
    font-family: 'Amatic SC', sans-serif;
    font-size: 3rem;
    margin: 0;
}
.cards{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.card1,
.card2,
.card3,
.card4{
    width: 250px; 
    height: 400px;
    border-radius: 20px;
}
/* background das cartas é a foto das artistas*/
.card2{
    background-image: url('https://billboard-com-br.s3.amazonaws.com/wp-content/uploads/2025/05/08112617/majur.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.card3{
    background-image: url('https://cronos-media.sesisenaisp.org.br/api/media/1-0/files?img=img_14_230723_5028915e-24c7-475c-b5d8-6fb8c1054f1c_o.jpg&tipo=p');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card4{
    background-image: url('https://interiornoticias.com/hf-conteudo/uploads/posts/2025/05/1840_urias-jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card1{
    background-image: url('https://conteudo.imguol.com.br/c/entretenimento/85/2022/04/16/pabllo-vittar-e-uma-das-atracoes-do-coachella-2022-1650138717784_v2_3x4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* media query para celular/tablet */
@media (max-width: 600px){
    /* dando flex wrap para nao ficar um do lado do outro  e um gap menor*/
    .section-cards{
        padding: 90px 0px;
        align-items: center;
    }
    .cards{
        flex-wrap: wrap;   
        gap:  10px;
    }
    /* arrumando posição do titulo e tam */
    .section-cards h1{
        font-size: 2.5rem;
    }
    .card1,
    .card2,
    .card3,
    .card4{
        width: 250px;
        height: 250px;
    }
}