body,html, #root{
  margin: 0;           
  padding: 0;        
  width: 100%;       
  height: 100%;      
  overflow-x: hidden;  
  background-color: black !important; 
  color: white;        
  box-sizing: border-box;   
}
*{
  text-decoration: none;
}
a:hover{
  color: rgb(134, 134, 134);
}